[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/OpenXiangShan-Nanhu/rocket-chip.git
[submodule "difftest"]
	path = difftest
	url = https://github.com/OpenXiangShan-Nanhu/difftest.git
[submodule "ready-to-run"]
	path = ready-to-run
	url = https://github.com/OpenXiangShan-Nanhu/ready-to-run
[submodule "src/main/resources/aia"]
	path = src/main/resources/aia
	url = https://github.com/OpenXiangShan/OpenAIA.git
[submodule "xs-utils"]
	path = xs-utils
	url = https://github.com/OpenXiangShan-Nanhu/xs-utils.git
[submodule "YunSuan"]
	path = YunSuan
	url = https://github.com/OpenXiangShan-Nanhu/YunSuan.git
[submodule "dependencies/xs-utils"]
	path = dependencies/xs-utils
	url = https://github.com/OpenXiangShan-Nanhu/xs-utils.git
[submodule "dependencies/rocket-chip"]
	path = dependencies/rocket-chip
	url = https://github.com/OpenXiangShan-Nanhu/rocket-chip.git
[submodule "dependencies/difftest"]
	path = dependencies/difftest
	url = https://github.com/OpenXiangShan-Nanhu/difftest.git
[submodule "dependencies/YunSuan"]
	path = dependencies/YunSuan
	url = https://github.com/OpenXiangShan-Nanhu/YunSuan.git
[submodule "dependencies/diplomacy"]
	path = dependencies/diplomacy
	url = https://github.com/chipsalliance/diplomacy.git
[submodule "dependencies/hardfloat"]
	path = dependencies/hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat.git
[submodule "dependencies/cde"]
	path = dependencies/cde
	url = https://github.com/chipsalliance/cde.git
